.code_box {
  margin: 0;
  width: 100%;
  height: calc(100% - 85px);
  padding: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.user_code_box {
  height: var(--width_user_code_box);
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.code_part {
  height: 50%;
  width: 100%;
}
.view {
  height: 48%;
  margin: 0 auto;
}
.user_code {
  width: 95%;
}
.user_code_n {
  overflow-y: hidden;
  width: 5%;
  min-width: 80px;
  border: 0;
  text-align: right;
}
/* '-' */
