:root {
  --font-size: 16px;
  --line_h: 18px;
  --width_left: 48%;
  --width_preview: 48%;
  --height_box: 30%;
  --flex: row;
  --margin_right: 0 0 0 15px;
  --display_right: inline;
  --height: 100%;
  --shrink: 10000000000;
  --grow: 2;
  --width_n: 8%;
  --width_code: 92%;
  --top_popap: -115px;
  --pos_settings: -1000px;
  --type-pos_settings: fixed;
  --display-on: inline-block;
  --left-pos_on-off: -25px;
  --transition-on_off: 0s;
  --cursor-on_off: e-resize;
  --cross: "\00D7";
  --plus: "+"
}
a {
  color: inherit;
}
*,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2.5rem;
  margin: 10px 0 15px 0;
}
h2 {
  font-size: 2rem;
  margin: 25px 0 15px 0;
}
input, textarea, button {
  font-size: var(--font-size);
  line-height: var(--line_n);
}
textarea {
  font-family: 'Roboto Mono', monospace;
  padding: 10px;
  resize: none;
}
.none {
  display: none;
}
button {
  padding: 10px 20px;
  margin: 25px 35px 10px 35px;
  border: 1px #4d4d4d solid;
  background: #e1e1e1;
  box-shadow: 1px 1px 5px;
  color: #4d4d4d;
}
button:focus, button:hover {
  background: #fff;
  border: 1px #fff solid;
  cursor: pointer;
}
.box_code {
  width: 100%;
  flex-shrink: 15000;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: var(--flex);
  height: 100vh;
  padding: 15px;
  transition: 1s;
}
.left,
.right_side_of_code {
  height: var(--height);
}
.left {
  width: var(--width_left);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: var(--shrink);
  flex-grow: var(--grow);
}
.right_side_of_code {
  display: var(--display_right);
  width: var(--width_preview);
  margin: var(--margin_right);
}
.user_code_css_box,
.user_code_html_box,
.user_code_js_box {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  height: var(--height_box);
  line-height: var(--line_h)
}
.code_off {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.user_code_html_n,
.user_code_css_n,
.user_code_js_n {
  border-right: 0;
  border-left: 0;
  width: var(--width_n);
  overflow: auto;
}
.user_code_html,
.user_code_css,
.user_code_js {
  display: inline-block;
  width: var(--width_code);
  height: 100%;
  resize: none;
  font-size: var(--font-size);
}
.right_side_of_code_inner {
  padding: 0;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.compilation_section_for_users {
  margin-top: 30px;
}
.answer_code_in_html {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}
.popap {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  width: 90%;
  height: 50px;
  background: #78ff00;
  position: fixed;
  top: var(--top_popap);
  left: 5%;
  transition: .9s;
}
.popap p {
  text-align: center;
  line-height: 50px;
}

/* ------------popap-settings---------------- */

body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.on-off {
  z-index: 1;
  cursor: var(--cursor-on_off);
  display: var(--display-on);
  position: fixed;
  top: calc(50% - 45px);
  left: var(--left-pos_on-off);
  background: rgb(19, 20, 20);
  width: 50px;
  height: 90px;
  transition: var(--transition-on_off);
  border-radius: 50%;
}
.settings {
  position: relative;
}
.popap_settings {
  z-index: 2;
  padding-top: 20px;
  text-align: center;
  color: white;
  position: var(--type-pos_settings);
  top: 0;
  left: var(--pos_settings);
  /* width: 30%; */
  height: 100vh;
  background: rgb(19, 20, 20);
  transition: 1s all;
  overflow: auto;
}
.popap_settings input,
.popap_settings p {
  display: inline-block;
  margin: 0 5px 15px 0;
}
.tabs {
  text-align: left;
  width: 100%;
}
.tabs_html div,
.tabs_css div,
.tabs_js div {
  display: inline-block;
  margin-left: 30px;
}
.cross::after {
  cursor: pointer;
  margin-left: 10px;
  content: var(--cross);
}
.plus::after {
  display: inline;
  cursor: pointer;
  margin-left: 10px;
  content: "+";
}

/* ------------------------------------------------------------------------------------ */

.frameworks {
  text-align: left;
}
.framework div,
.framework h3 {
  display: inline;
}

.snippets_box {
  margin-bottom: 45px;
}
.snippets_box div {
  max-height: 120px;
  overflow: hidden;
}
.snippets_box li {
  margin-bottom: 10px;
}









/* '-' */
