@use "./variables";

a {
    color: inherit;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    /* font-style: normal; */
}

body {
    min-height: 100vh;
    background: #282c34;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0 15px 0;
}

h2 {
    font-size: 2rem;
    margin: 25px 0 15px 0;
}

.none {
    display: none !important;
}

textarea {
    resize: none;
}

button {
    padding: 10px 20px;
    margin: 25px 35px 10px 35px;
    border: 1px #4d4d4d solid;
    background: #e1e1e1;
    box-shadow: 1px 1px 5px;
    color: #4d4d4d;
    cursor: pointer;
}

button:focus,
button:hover {
    background: #fff;
    border: 1px #fff solid;
    cursor: pointer;
}