:root {
    --font-size: 16px;
    --cross: "\00D7";
    --plus: "+";
    --width_screen: 49%;
    --width_code_box: 49%;
    --height_user_code_box: 31%;


    /* code style */
    --line_height: 22px;
}